$fa-font-path:  "./fonts" !default;
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/substance/styles/base/index';

// Substance modules
@import '../node_modules/substance/styles/components/_all';
@import '../node_modules/substance/packages/_all';



/* Shared demo styles */

body.sm-fixed-layout {
  overflow: hidden;
}
