.sc-header {
  height: 40px;
  background: #3B4749;
  overflow: visible;
  font-size: $small-font-size;
  font-weight: $strong-font-weight;

  .se-actions {
    float: left;
    .se-action {
      line-height: 40px;
      display: inline-block;
      padding: 0px 20px;
      color: rgba(255,255,255, 0.7);

      &:focus {
        color: rgba(255,255,255, 1);
        outline: none;
      }

      &:hover {
        color: rgba(255,255,255, 1);
      }
    }
  }

  .se-content {
    float: right;
  }

  // Override notification styles when
  // rendered inside header
  .sc-notification {
    background-color: #5e696d;
    color: #C8D0DA;
    min-width: 400px;
    margin: 8px 14px;
    padding: 0px 20px;
    text-align: center;
    border-radius: 3px;

    &.se-type-error {
      border: none;
      background-color: #6c6661;
      color: #FFC2A6;
    }

    &.se-type-warning {
      border: none;
      background-color: #62644B;
      color: #D6BB4C;
    }

    &.se-type-success {
      border: none;
      background-color: #51726a;
      color: #8EF1CC;
    }
  }

}