$fa-font-path:  "../fonts" !default;
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/substance/styles/base/index';

// Substance modules
@import '../node_modules/substance/styles/components/_all';
@import '../node_modules/substance/packages/_all';

.sc-mark {
  background: rgba(234, 231, 35, 0.3);
}

.sc-todo {
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;

  .se-done {
    display: inline-block;
    width: 20px;
    cursor: pointer;

    position: absolute;
    left: 0px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
}

/* Shared demo styles */

body {
  overflow: hidden;
}

.sc-app {
  .se-header {
    height: 50px;
    background: #272727;

    overflow: hidden;

    .se-actions {
      margin-left: 15px;
      float: left;
      .se-action {
        line-height: 50px;
        display: inline-block;
        color: rgba(255,255,255, 0.7);
      }

      .se-action:hover {
        color: rgba(255,255,255, 1);
      }
    }

    .se-collaborators {
      float: right;
      margin-right: 10px;

      .se-collaborator {
        margin: 3px;
        display: inline-block;
        width: 44px;
        height: 44px;

        img {
          border: 2px solid #7ED321;
          border-radius: 50%;
          width: 100%;
        }
      }

      .se-collaborator.sm-2 img {
        border: 2px solid #D34321;
      }
    }
  }

  // Intro
  .se-intro {
    padding: 50px;
    font-size: 20px;

    button {
      display: inline-block;
      background: #444;
      color: #fff;
      padding: 2px 5px;
      margin-right: 10px;
    }

    .se-intro-text {
      margin-bottom: 40px;
    }
  }

}

.sc-notepad {
  position: fixed;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  color: #222;
}

.sc-container-editor {
  padding: 20px;
  overflow: auto;
}
