.sc-dashboard {
  .se-intro {
    padding-bottom: $default-padding;
    overflow: hidden;

    .se-note-count {
      float: left;
      color: $light-text-color;
      vertical-align: middle;
      line-height: $base-height;
    }

    .se-new-note-button {
      float: right;
    }
  }

  .sc-note-item {
    border-top: 1px solid $border-color;
    // padding-bottom: $default-padding;
    padding-top: $default-padding;
    margin-bottom: $default-padding;
  }
}