.sc-note-summary {
  padding: $default-padding / 2;
  // we use margin-bottom of .se-item as a spacer
  padding-bottom: 0px;
  // background: $fill-light-color;
  font-size: $small-font-size;
  color: $light-text-color;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  text-align: center;

  .se-item {
    display: inline-block;
    margin-right: 2 * $default-padding;
    margin-bottom: $default-padding/2;
  }

  .se-issues-bar {
    min-width: 130px;
    border: 1px $border-color solid;
    border-radius: $border-radius;
    height: $base-height / 2 - $base-height / 8;
    display: inline-block;
    margin-right: $default-padding/2;
    margin-left: $default-padding/2;

    // HACK: just to tweak the vertical alignment with text
    top: 2px;
    position: relative;

    .se-completed {
      float: left;
      height: 100%;
      background: $border-color;
    }
  }
}