.sc-cover {
  margin-bottom: 2*$default-padding;

  .se-title {
    font-size: $title-font-size;
    padding: $default-padding 0;
    font-weight: $strong-font-weight;
    text-align: center;    
  }

  .se-separator {
    height: 1px;
    background: $border-color;
    max-width: 200px;
    margin: $default-padding auto;
  }

  .se-authors {
    text-align: center;
    padding-bottom: 2*$default-padding;
  }
}
