.sc-comment {
  position: relative;
  background: #f7f9f9;
  color: #8c9393;
  border-bottom: 1px solid #eaefef;
  padding: 20px;
  margin-bottom: 20px;
  .sc-comment-symbol {
    color: #e0e2e2;
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .sc-authored {
    color: #bfc4c4;
    font-style: italic;
  }
}