.sc-cover {

  .se-title {
    font-size: 38px;
    padding: 20px 0;
    text-align: center;    
  }

  .se-separator {
    height: 2px;
    background: #ddd;
    max-width: 200px;
    margin: 20px auto;
  }

  .se-authors {
    text-align: center;
    padding-bottom: 40px;
    color: #888;
  }

  .se-info-panel {

    text-align: center;
    padding: 10px;
    color: #888;
    background: #F7F9F9;
    height: 45px;
    margin-bottom: 40px;
 
    .fa {
      font-size: 23px;
      margin-right: 10px;
    }

    .se-separator {
      width: 1px;
      background: #ddd;
      margin: 0px 30px;
      float: left;
      height: 25px;
    }

    .se-changed {
      width: auto;
      float: left;
    }

    .se-comments {
      float: left;
    }

    .se-issues {
      float: left;

      .fa {
        top: 3px;
        position: relative;
      }

      .issues-bar {
        min-width: 130px;
        background: #fff;
        border: 2px #D2D8D8 solid;
        border-radius: 5px;
        height: 15px;
        display: inline-block;
        margin-right: 10px;
        top: 2px;
        position: relative;

        .completed {
          float: left;
          height: 100%;
          background: #D2D8D8;
        }
      }
    }
  }

}