.sc-cover {

  .se-title {
    font-size: 38px;
    padding: 20px 0;
    text-align: center;    
  }

  .se-separator {
    height: 2px;
    background: #ddd;
    max-width: 200px;
    margin: 20px auto;
  }

  .se-authors {
    text-align: center;
    padding-bottom: 40px;
    color: #888;
  }

}