.sc-app {
  // font-family: 'Lato', sans-serif;

  .se-error {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    color: #fff;
    width: 100%;
    height: 20px;
    padding: 2px;
    text-align: center;
    background: #FF7B7B;
    box-shadow: 0 6px 6px -6px black;
    transition: all 0.5s ease;
    z-index: 9999;
    font-size: 13px;

    .se-dismiss {
      right: 30px;
      position: absolute;
      cursor: pointer;
    }
  }
}