.sc-notepad {
  position: fixed;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  color: #222;
}

.sc-container-editor {
  padding: 20px;
  overflow: auto;
  max-width: 920px;
  margin: 0px auto;

  .sc-paragraph {
    padding: 0px 20px 20px;
  }
}

.sc-toolbar {
  background: #E8EAEA;

  .se-toolbar-group {
    max-width: 900px;
    margin: 0px auto;
    float: none;
  }
}