/* Used in Dashboard */

.sc-note-item {
  padding-bottom: $default-padding;

  .se-title {
    color: #4A90E2;
    font-size: $large-font-size;
    padding-bottom: $default-padding / 2;
  }

  .se-preview {
    font-size: $small-font-size;
    padding-bottom: $default-padding / 2;
  }

  .se-updated-at {
    font-style: italic;
  }
}