// Notification styles (when rendered on white main section)

.sc-notification {
  color: #777C82;
  border: 1px solid #777C82;
  margin: 50px;
  padding: 20px;
  text-align: center;
  border-radius: 3px;

  &.se-type-error {
    border: 1px solid #FF7B7A;
    color: #FF7B7A;
  }

  &.se-type-warning {
    border: 1px solid #D6BB4C;
    color: #D6BB4C;
  }

  &.se-type-success {
    border: 1px solid #24D49A;
    color: #24D49A;
  }
}