.sc-notepad {

  .se-note-content {
    padding: $default-padding;
    overflow: auto;
    max-width: $large-layout-width;
    width: 100%;
    margin: 0 auto;

    .sc-paragraph {
      padding-bottom: 20px;
    }
  }

  .sc-toolbar {
    .se-toolbar-group {
      max-width: $large-layout-width;
      margin: 0 auto;
      float: none;
    }
  }
}



