.sc-welcome {

  max-width: 960px;
  margin: 50px auto;
  font-size: 20px;

  button {
    display: inline-block;
    background: #444;
    color: #fff;
    padding: 2px 5px;
    margin-right: 10px;
  }

  .se-intro {
    margin-bottom: 40px;
  }

}